/* Main CSS styles */

body, div, ul, li, a, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: -apple-system, BlinkMacSystemFont,
	Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell,
	Helvetica, Neue, sans-serif;
}

body * {
	box-sizing: border-box;
}

a:active, a:visited, a {
	color: #222222;
	outline: none;
}

.container-wrapper {
	
}

.nav {
	height: 10vh;
	background-color: #ffef42;
	display: flex;
	align-items: center;
	justify-content: center;
}

.nav h1 {
	letter-spacing: 5px;
	font-size: 1.5em;
}

.container {
	position: relative;
	height: 90vh;
}

/*---------------------- SIDEBAR STYLES ---------------------*/

.sidebar {
	position: absolute;
	left: 0px;
	top: 0px;
	bottom: 0px;
	width: 30vw;
}

.sidebar-ul {

}

.sidebar h2 {
	padding: 10px;
	background-color: purple;
	color: #fafafa;
}

.sidebar-item {
	border-bottom: 1px solid #deadff;
	padding: 8px;
}
  .sidebar-item.active {
	  background-color: #444444;
	  color: yellow;
  }

.sidebar-item:hover {
	cursor: pointer;
	background-color: #444444;
	color: yellow;
}

.addPost {
	position: absolute;
	bottom: 10px;
	left: 10px;
}
  .addPost:hover {
	  cursor: pointer;
	  color: purple;
  }
  
/* ---------------------- SEARCHBAR STYLES -------------------*/

.searchbar {
	z-index: 10;
	position: fixed;
	right: -400px;
	top: 0;
	transition: 0.5s ease-in;
}
  .searchbar.active {
	  right: 0px;
  }

.searchbar-search {
	height: 80vh;
	background-color: #fafafa;
	width: 400px;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-left: 1px solid purple;
	border-bottom: 2px solid purple;
	border-radius: 0 0 0 5px;
	padding: 10px;
}

.searchbar input {
	width: 350px;
	height: 40px;
	border: 2px solid purple;
	border-radius: 5px;
}

.searchbar-suggestions {
	background-color: #deadff;
	width: 350px;
	position: absolute;
	top: 56px;
}

.searchbar-suggestion {
	height: 30px;
	display: flex;
	align-items: center;
	padding: 5px 10px;
}
  .searchbar-suggestion:nth-child(even) {
	  background-color: purple;
	  color: #fafafa;
  }
  .searchbar-suggestion a {
	  color: inherit;
  }

.searchbar-tab {
	float: left;
	background-color: purple;
	color: #fafafa;
	width: 80px;
	height: 50px;
	border-radius: 8px 0 0 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}
  .searchbar-tab:hover {
	  cursor: pointer;
  }
  
/* ------------------------ POST STYLES ----------------------*/

.post-wrapper {
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	width: 70vw;
}

.post-wrapper-header {
	padding: 10px;
	text-align: center;
}

.post {
	padding: 25px;
}

  .tag-list {
	  display: flex;
	  flex-wrap: wrap;
	  position: absolute;
	  bottom: 40px;
	  left: 0;
	  right: 0;
  }
  
  .tag-list li {
	  background-color: purple;
	  color: #fafafa;
	  width: 100px;
	  height: 40px;
	  border-radius: 10px;
	  margin: 10px;
	  display: flex;
	  align-items: center;
	  justify-content: center;
  }

/* ------------------- POST FORM STYLES --------------------*/

.add-post-form {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	height: 80vh;
}

.add-post-form > .add-post-title, .add-post-content {
	font-size: 1.1em;
	border: 1px solid purple;
}

.add-post-input-wrapper {
	display: flex;
	justify-content: center;
	width: 80%;
}

.add-post-title {
	height: 40px;
	border: 1px solid purple;
	flex: 4;
	padding-left: 10px;
}

.add-post-title-label {
	background-color: purple;
	color: #fafafa;
	height: 40px;
	flex: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

.add-post-content {
	height: 40vh;
	width: 80%;
	padding: 10px;
}

.add-post-submit {
	width: 40%;
	height: 40px;
	border-radius: 5px;
	background-color: purple;
	color: #fafafa;
	border: none;
}
  .add-post-submit:hover {
	  cursor: pointer;
	  background-color: yellow;
	  color: #222222;
	  border: 1px solid #222222;
  }
  

/* --------------------- FOOTER STYLES ---------------------*/

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 1px solid #222222;
	display: flex;
	justify-content: space-between;
}

footer > * {
	display: flex;
	height: 40px;
	align-items: center;
}

footer li {
	padding: 0 10px;
}

.footer-left {
	
}

.footer-right {
	
}