/* Main CSS styles */

body, div, ul, li, a, h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont,
	Segoe UI, Roboto, Oxygen-Sans, Ubuntu, Cantarell,
	Helvetica, Neue, sans-serif;
}

a:active, a:visited, a {
	color: #222222;
}

/*---------------------- SIDEBAR STYLES ---------------------*/

.sidebar {
	position: fixed;
	left: 10px;
	top: 10px;
	bottom: 10px;
	width: 30vw;
	background-color: yellow;
}

.sidebar-item {
	padding: 8px;
	border: 1px solid #444444;
	margin: 5px;
}

.sidebar-item:hover {
	cursor: pointer;
	background-color: #444444;
	color: yellow;
}

.addPost {
	position: absolute;
	bottom: 5px;
	left: 5px;
}
  .addPost:hover {
	  cursor: pointer;
	  color: red;
  }
  
/* ---------------------- SEARCHBAR STYLES -------------------*/

.searchbar {
	z-index: 10;
	position: fixed;
	right: -400px;
	top: 0;
	transition: 0.5s ease-in;
}
  .searchbar.active {
	  right: 0px;
  }

.searchbar-search {
	height: 80vh;
	background-color: #fafafa;
	width: 400px;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.searchbar input {
	width: 350px;
	height: 40px;
	border: 2px solid purple;
	border-radius: 5px;
}

.searchbar-suggestions {
	background-color: #deadff;
	width: 350px;
	position: absolute;
	top: 46px;
}

.searchbar-suggestion {
	height: 30px;
	display: flex;
	align-items: center;
	padding: 5px 10px;
}
  .searchbar-suggestion:nth-child(even) {
	  background-color: purple;
	  color: #fafafa;
  }
  .searchbar-suggestion a {
	  color: inherit;
  }

.searchbar-tab {
	float: left;
	background-color: purple;
	color: #fafafa;
	width: 80px;
	height: 50px;
	border-radius: 8px 0 0 8px;
	display: flex;
	justify-content: center;
	align-items: center;
}
  .searchbar-tab:hover {
	  cursor: pointer;
  }
  
/* ------------------------ POST STYLES ----------------------*/

.post {
	float: right;
	margin: 10px;
	width: 65vw;
	min-height: 90vh;
	background-color: yellow;
	position: relative;
	padding: 15px;
}

/* ------------------- POST FORM STYLES --------------------*/

.add-post-form {
	display: flex;
	flex-direction: column;
}

.add-post-title {
	width: 40%;
	height: 20px;
}

.add-post-content {
	height: 40vh;
}

.add-post-submit {
	width: 40%;
}

/* --------------------- FOOTER STYLES ---------------------*/

footer {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-top: 1px solid #222222;
	display: flex;
	justify-content: space-between;
}

footer > * {
	display: flex;
	height: 40px;
	align-items: center;
}

footer li {
	padding: 0 10px;
}

.footer-left {
	
}

.footer-right {
	
}